<h1>{{ title }}</h1>

<form [formGroup]="form">
    <fieldset>
        <label> Tarefa: </label>
        <input type="text"
            placeholder="Titulo da Tarefa"
            maxlength="60"
            formControlName="title">
            <small *ngIf="form.controls.title.invalid &&
                            !form.controls.title.pristine">
                Este campo deve conter entre 3 e 60 caracteres.
            </small>
        <button [disabled]="form.invalid" (click)="add()">Salvar</button>
    </fieldset>
</form>

<ul>
    <p *ngIf="todos.length==0">
        <small>Não a registros de tarefas para hoje!</small>
    </p>
    <li *ngFor="let todo of todos"> 
        {{ todo.id}} - {{ todo.title }} 
        <ng-template [ngIf]="!todo.done" [ngIfElse]="refazer">
            | <button (click)="checkedUnchecked(todo)">Concluir</button>
        </ng-template> 
        <ng-template #refazer>
            | <button (click)="checkedUnchecked(todo)">Refazer</button>
        </ng-template> 
        | <button (click)="remove(todo)">Remover</button>
    </li>
</ul>