/* You can add global styles to this file, and also import other style files */
body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    background-color: #FFC107;
    background-attachment: fixed;
    background: -webkit-linear-gradient(-20deg, #FFC107 20%, #E91E63 100%);
    background: -moz-linear-gradient(-20deg, #FFC107 20%, #E91E63 100%);
    background: linear-gradient(-20deg, #FFC107 20%, #E91E63 100%);
    outline: none;
}

button:disabled{ 
    cursor: no-drop;
    opacity: 0.5;
}


button:active { 
    cursor: pointer;
    opacity: 1;
}

*:focus {
    outline: none;
}

::placeholder {
    color: #eb2d5a;
    opacity: 1;
}
  
:-ms-input-placeholder {
    color: #eb2d5a;
}
  
::-ms-input-placeholder {
    color: #eb2d5a;
}